{% extends 'base.html' %}

        {% block header %}
        <h1>Post Blog</h1>
        <span class="subheading">Look at what people left as a message</span>
        {% endblock%}

        {% block content %}
        <!-- Main Content-->
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for i in posts %}
                    <div class="post-preview">
                            <h2 class="post-title">{{ i.mensage }}</h2>
                            
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ i.user }}</a>
                            on {{ i.data_publicacao }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="http://127.0.0.1:8000/contact/">Faça um post →</a></div>-->
                </div>
            </div>
        </div>
        
        {% endblock %}
